// Place all the styles related to the Kpts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body, html {
  margin: 0;
  padding: 0;
  font-size: 20px;
  padding-top: 20px;
}
body {
  //padding-top: 40px;
}
.page-header {
  margin: 0;
  padding: 0;

  h1 {
    margin: 0;
    padding: 0;
    text-align: center;
    position: relative;

    .btn-right {
      position: absolute;
      right: 2px;
      top: 2px; 
    }
    a.btn-left {
      position: absolute;
      left: 2px;
      top: 2px; 
    }
    .btns {
      position: absolute;
      right: 2px;
      top: -4px;
      margin: 0;
      a {
        margin-left: 2px;
      }
    }
  }
}

.form-horizontal {
  .form-group {
    margin-left: 0;
    margin-right: 0;
  }
}

.panel {
  margin-top: 1px;
  margin-bottom: 0;
  .panel-title {
    text-align: center;
  } 
  .panel-body {
    padding: 0;

    .table {
      margin: 0;

      th, td {
        padding: 00
      }
    }
  }
}
.table {
  margin-bottom: 0;
  .table-borderless {
    td, th {
      border: 0;
    }
  }
}

.gergia {
  font-family: georgia,'times new roman',serif;
}

.top {
  margin-top: -50px;
  height: 300px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: image-url("top.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  vertical-align: middle;
  position: relative;

  .top-in {
    position: absolute;
    width: 100%;
    top: 50%;
    margin-top: -4em;
    text-align: center;
  }
}
.top-main {
  padding: 0 20px;
  font-size: 18px;
}
.top-ul {
  padding-left: 0;
  list-style-type: none;
  margin-top: 15px;
  li {
    font-size: 17px;
    margin-top: 10px;
    span {
      font-size: 25px;
      font-weight: bold;
    }
  }
}
.lbl-kptodo {
  font-size: 25px;
}

.bookmark-info {
  i {
    font-size: 25px;
  }
  img {
    width: 100%;
    max-width: 400px;
  }
}