// Place all the styles related to the Kpts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body, html {
  margin: 0;
  padding: 0;
  font-size: 20px;
}

.page-header {
  margin: 0;
  padding: 0;

  h1 {
    margin: 0;
    text-align: center;
    position: relative;

    .btn-right {
      position: absolute;
      right: 2px;
      top: 2px; 
    }
    a.btn-left {
      position: absolute;
      left: 2px;
      top: 2px; 
    }
    .btns {
      position: absolute;
      right: 2px;
      top: -4px; 
      margin: 0;
      padding: 0;

      a {
        margin-left: 2px;
      }
    }
  }
}

.form-horizontal {
  .form-group {
    margin-left: 0;
    margin-right: 0;
  }
}

.panel {
  margin-top: 1px;
  margin-bottom: 0;
  .panel-title {
    text-align: center;
  } 
  .panel-body {
    padding: 0;

    .table {
      margin: 0;

      th, td {
        padding: 00
      }
    }
  }
}
.table {
  margin-bottom: 0;
  .table-borderless {
    td, th {
      border: 0;
    }
  }
}